require "erb"


<html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <style media="screen">

  ul {
    list-style: none;
    list-style: square;
    border-bottom-color: orange;
    border-bottom-style: groove;
}
li  {
  list-style: none;
}
h1 {
  color: gray;
  text-align: center;

}
</style>

  <body>
    <h1>Employee Report</h1>
    <%positions.each do |position|%>
    <h2><%= position %></h2>
    <h3>Salary</h3>
      <ul>
        <li>Minimum: $<%= minimum_salary(position)%></li>
        <li>Maximum: $<%= maximum_salary(position)%></li>
        <li>Average: $<%= average_salary(position)%></li>
        <li><%= employee_count(position)%></li>
      </ul>
        <li><%= employee_names(position)%></li>
    <%end%>
    </body>
</html>
